html, body {
  background-color: #40826D;
  color:white;
  text-align: center;
  height: 100%;
}

.site-header {
  text-align: center;
}

.header-image {
  margin-bottom: 0;
}

h1 {
  font-family: "Beth Ellen", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 2px;
}

.site-description {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}

.search {
    padding: 15px;
}

#bird {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding: 10px;
  border-radius: 120px;
  border: none;
  width: 600px;
}

#birds {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding-top: 25px;
}

.result-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #96DED1;
  width: 550px;
  height: 150px;
  padding-top: 25px;
  margin: 30px;
  border-radius: 30px;
}